/* Banner image*/
.header {
  width: 100%;
  background-size: cover;
  }

.header img {
  width: 100%;
}

body {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* global styling*/
html{
  font-family: "Montserrat";
  margin: 0rem 2rem;
}

/* Styling for the image container and the items inside it */
.container{
  display: flex; 
  flex-wrap: wrap; 
}

/*Items for all the screenshots and pictures of your stuff*/
.item {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 30%;
  min-width: 8rem;
  margin: auto;
  }
 .item-info {
   padding: 0.1rem;
   text-align: center;
 }

.item_pepeha{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 60%;
  min-width: 8rem;
  margin: auto;
  }

.item_pepeha img{
  width: 100%;
}
.item img{
  width: 100%;
}

/*the navbar styling goes here*/
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #474f90;
  top: 0;
  width: 100%;
}

nav ul li{
  float: left;
  font-size: 1rem;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover{
  background-color: #2c2c77;
}

nav #active{
  background-color: #930606;
}

h1 {
 color: #292929;
 font-family: "Bebas Neue", sans-serif;
 font-size: 250px;
 font-weight: 400;
 text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
}

h3 {
text-decoration: underline;
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #474f90;
}

h5 {
font-size: 20px;
  font-family: "arial black";
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
